/* Main container */
.main {
  position: absolute;
  right: 175px;
  width: 500px;
}

/* Search bar container */
.search-bar-container {
  position: absolute;
  display: flex;
  width: 400px;
  top: 8px;
  right: -30px;
  box-shadow: 0em 0.1em 0.05em #ccc;
}

.search-input {
  width: 90%;
  position: absolute;
}

.search-button {
  position: absolute;
  right: 0;
  padding: 10px;
}

.search-bar-container:hover {
  border: 2px solid #110f74;
}

/* Responsive design */

/* Small screens (max-width: 599px) */
@media screen and (max-width: 599px) {
  .search-button {
    display: none;
  }

  .logo {
    height: 29px;
    width: 35px;
  }

  .search-bar-container {
    position: fixed;
    left: 35px;
    right: 25px;
    flex-direction: row;
    align-items: stretch;
    width: 10%;
    top: 50px;
  }

  .search-input {
    width: 10%;
  }
}

/* Medium devices (600px and below) */
@media screen and (max-width: 600px) {
  .search-button {
    display: none;
  }

  .search-bar-container {
    flex-direction: row;
    align-items: stretch;
    width: 35%;
    margin: 0 auto;
  }

  .search-input {
    width: 40%;
  }
}

/* Medium to large devices (600px to 750px) */
@media screen and (max-width: 750px) {
  .search-bar-container {
    flex-direction: row;
    align-items: stretch;
    width: 55%;
    max-width: 430px;
    margin: 0 auto;
  }

  .search-input {
    width: 50%;
  }
}

/* Large devices (750px to 1036px) */
@media screen and (max-width: 1036px) {
  .search-bar-container {
    flex-direction: row;
    align-items: center;
    top: 50px;
    width: 65%;
  }

  .search-input {
    width: 60%;
  }
}

/* Extra large devices (1037px to 1080px) */
@media screen and (min-width: 1037px) and (max-width: 1080px) {
  .search-bar-container {
    flex-direction: row;
    align-items: center;
    width: 75%;
  }

  .search-input {
    width: 70%;
  }
}
